.form-grid-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap
}

.header {
  font-weight: bold;
}

.cell-menu {
  display: block;
    float: right;  
    z-index: 3;
    position: absolute; 
    padding: 1rem 2rem;
    border-radius: 0px 5px 5px 5px;
    background-color: lightgray;
    display: flex !important;
    flex-direction: column !important;

}

.cell-menu-group {
  padding: 5px 0;
}

.cell {
  margin: 5px 0px;
  padding: 10px 0px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.cell.half {
  flex-basis: calc(50% - 8px);
}

.cell.full {
  flex-basis: calc(100% - 8px);
}

.cell.third {
  flex-basis: calc(33% - 8px);
}

.top > div {
  display: flex;
  flex-direction: column;
}

.left > div{
  display: flex;
  flex-direction: row;
}
.left > div > label {
  padding: 0 1em;
}

.fab {
  background-color:#F44336;
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: absolute;
  bottom: 20px;
  right: 20px;
}